.navigation {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 5px 5px 10px rgb(22 22 22 / 50%);
  height: calc(40px + 2rem);

  .toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem;
    z-index: 1000;

    .line {
      width: 25px;
      height: 3px;
      background-color: var(--light-color);
      margin: 5px;
      transition: all 0.2s ease-in-out;
    }
  }

  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      text-wrap: nowrap;
      z-index: 1000;
    }

    .nav-links {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      justify-content: flex-end;
      margin: 0;
      transition: all 0.2s ease-in-out;

      li {
        list-style: none;
        padding: 0 0.5rem;

        a {
          position: relative;
          color: var(--light-color);
          display: flex;
          align-items: center;
          text-decoration: none;
          height: 100%;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          padding: 0 0.15rem;

          &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--light-color);
            transform-origin: left;
            transition: all 0.15s ease-in-out;
          }

          &:hover,
          &.active {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &.mobile .active {
    .nav-links {
      height: 100vh;
    }

    .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
    }
  }
}
