.bg-primary {
  background-color: var(--primary-color) !important;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 2.5rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.pb-5 {
  padding-bottom: 2.5rem !important;
}

/** Margins */
.m-0 {
  margin: 0;
}

.m-3 {
  margin: 1rem;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-5 {
  margin-top: 2rem !important;
}

.ml-3 {
  margin-left: 1rem;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-1 {
  margin-right: 0.25rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.gap-3 {
  gap: 1rem;
}

.col {
  flex: 1;
}

.col-2 {
  flex: 0 0 calc(50% - 0.5rem);
  max-width: calc(50% - 0.5rem);
}

.col-5 {
  flex: 0 0 40%;
  max-width: 40%;
}

.col-6 {
  flex: 0 0 60%;
  max-width: 60%;
}

.col-8 {
  flex: 0 0 80%;
  max-width: 80%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
}

.flex-column {
  flex-direction: column;
}

.gap-3 {
  gap: 1rem;
}

.icon {
  width: 1.15rem;
  height: 1.15rem;
  margin-right: 0.5rem;
  color: var(--light-color);
}

.icon-3 {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  color: var(--light-color);
}

.text-sm {
  font-size: 0.75rem;
}

.text-md {
  font-size: 0.95rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2.75rem;
}

.text-center {
  text-align: center !important;
}
.text-white {
  color: var(--light-color) !important;
}

.text-danger {
  color: var(--danger-color) !important;
}

.text-success {
  color: var(--success-color) !important;
}

.text-transparent {
  color: transparent !important;
}

.rounded-lg {
  border-radius: 10px;
}

.pill {
  border-radius: 20px;
  background-color: var(--gray-dark);
  display: inline-block;
  padding: 0.25rem 1rem;
  margin: 1rem 0;
  font-size: 0.95rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.w-100{
  width: 100%;
}

.mw-500 {
  max-width: 500px;
  margin: 0 auto;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-bold {
  font-weight: 700;
}

.form-group {
  margin-bottom: 1rem;
}

.shadow {
  box-shadow: 0px 24px 38px 3px hsla(0, 0%, 33%, 0.14),
    0px 9px 46px 8px hsla(0, 0%, 24%, 0.12),
    0px 11px 15px -7px hsla(0, 0%, 27%, 0.2);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  outline: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: 500;
  font-family: "Inter", sans-serif;

  &:focus {
    border-color: var(--gray-dark);
  }

  &::placeholder {
    color: var(--gray-dark);
    font-weight: 400;
  }
}

.form-file {
  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: 500;

    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
      margin-bottom: 0.5rem;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--primary-color);
  border: 1px solid var(--light-color);
  color: var(--light-color);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
    filter: brightness(1.35);
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  &.btn-xs {
    padding: 0.35rem 0.5rem;
    font-size: 0.85rem;
  }

  &.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);

    &:hover {
      background-color: var(--danger-color);
      border-color: var(--danger-color);
      color: var(--light-color);
    }
  }

  &.btn-secondary {
    background-color: var(--gray-dark);
    border-color: var(--gray-dark);

    &:hover {
      background-color: var(--gray-dark);
      border-color: var(--gray-dark);
      color: var(--light-color);
    }
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid var(--gray-dark);
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: var(--gray-dark);
    color: var(--light-color);

    th {
      padding: 0.75rem 1rem;
      font-weight: 500;
      text-align: left;
    }
  }

  tbody {
    tr {
      &:nth-child(even) td {
        background-color: var(--gray-light);
      }

      td {
        border-top: 1px solid var(--gray-dark);
        padding: 1rem;
        font-size: 0.85rem;
        text-wrap: nowrap;
      }
    }
  }
}

.hide {
  display: none;
}
